<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "mybatis-3-mapper.dtd">
<mapper namespace="order">
	<insert id="addOrder" parameterType="orderForm">
		insert into `orderForm`(
		`orderSerialNumber`,`goodsId`,`purchaseTime`,
		`memberDiscount`,`actualPurchasePriceGoods`,`orderStatus`,
		`userId`,`openId`,`paymentMethod`,
		`rdCode`,`invoiceInformation`,`integral`,`paymentNumber`
		)
		values(
		#{orderSerialNumber},#{goodsId},#{purchaseTime},
		#{memberDiscount},#{actualPurchasePriceGoods},#{orderStatus},
		#{userId},#{openId},#{paymentMethod},
		#{rdCode},#{invoiceInformation},#{integral},#{paymentNumber}
		)

	</insert>
	<update id="updateOrder" parameterType="orderForm">
		update `orderForm` set
		`goodsId`=#{goodsId},
		`memberDiscount`=#{memberDiscount},
		`actualPurchasePriceGoods`=#{actualPurchasePriceGoods},
		`orderStatus`=#{orderStatus},
		`openId`=#{openId},
		`paymentMethod`=#{paymentMethod},
		`paymentNumber`=#{paymentNumber},
		`rdCode`=#{rdCode},
		`invoiceInformation`=#{invoiceInformation},
		`integral`=#{integral},
		`orderSerialNumber`=#{orderSerialNumber}
		where
		`userId`=#{userId} and of.orderStatus!=-1

	</update>
	<select id="selectByphone" parameterType="String" resultType="orderForm">
		SELECT of.* FROM `orderform` of
		INNER JOIN `user` us ON
		us.`userId`=of.`userId`
		WHERE us.`phone`=#{String} and of.orderStatus!=-1
	</select>
	<insert id="addActivationCode" parameterType="activationCode">
		insert into
		`orderActivationCode`(
		`orderSerialNumber`,`activationCode`,`isActivation`
		)
		values(
		#{orderSerialNumber},#{activationCode},#{isActivation}
		)
	</insert>
	<select id="checkActivationCode" parameterType="String"
		resultType="int">
		select count(*) from orderActivationCode where
		`activationCode`=#{String}
	</select>

</mapper>