#message {
    width: 100%;
    padding: 20px 30px;
}
#message h2 {
    text-align: center;
    font-size: 0.18rem;
    line-height: 0.2rem;
    font-weight: 400;
    color: #da251c;
    margin-bottom: 0.1rem;
}
/*ÐÞ¸Ä*/

#x_formAdd {
    display: none;
}

.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 200px;
    font-weight: 400;
    text-align: left;
}
.layui-input-block {
    margin-top: 20px;
}
.layui-input {
    display: block;
    width: 80%;
    padding-left: 10px;
}