<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "mybatis-3-mapper.dtd">
<mapper namespace="goodsUser">
	<resultMap type="goodsList" id="goodsListMap">
		<id property="goodsId" column="goodsId" />
		<result property="goodsPrice" column="goodsPrice" />
		<result property="dateManufacture" column="dateManufacture" />
		<result property="goodsName" column="goodsName" />
		<result property="imageUrl" column="imageUrl" />
		<result property="inventory" column="inventory" />
		<result property="salesVolume" column="salesVolume" />
		<result property="isShelves" column="isShelves" />
		<result property="weight" column="weight" />
		<result property="effectiveTime" column="effectiveTime" />
		<result property="hotGoods" column="hotGoods" />


		<collection property="goodTypes" ofType="goodsType">
			<id property="goodsTypeId" column="goodsTypeId" />
			<result property="goodsTypeName" column="goodsTypeName" />
		</collection>
	</resultMap>

	<select id="getAllGoods" resultMap="goodsListMap" parameterType="String">

		SELECT * FROM goodstypes AS gts
		INNER JOIN
		goodslist AS gl ON
		gl.`goodsId`=gts.`goodsId`
		INNER JOIN goodsType AS
		gt
		ON
		gt.`goodsTypeId`=gts.`goodsTypeId`
		where 1=1 and #{String}
	</select>

	<select id="queryGoodstype" resultType="goodsType"
		parameterType="string">

		SELECT * FROM goodsType
		where 1=1 and
		goodsTypeName=#{string}
	</select>
	<select id="getWhereGoodsType" resultType="goodsType"
		parameterType="string">

		SELECT * FROM goodsType
		where 1=1 and #{String}
	</select>
	<select id="queryTypeData" resultMap="goodsListMap"
		parameterType="int">
		SELECT gl.*,gt.`goodsTypeName` FROM goodstypes AS gts
		INNER JOIN
		goodslist AS
		gl ON gl.`goodsId`=gts.`goodsId`
		INNER JOIN
		goodsType AS
		gt
		ON
		gt.`goodsTypeId`=gts.`goodsTypeId`
		where 1=1 and
		gts.`goodsTypeId`=#{int}
		and isShelves = 1
		ORDER BY `weight`
	</select>




	<select id="queryByGoodsId" parameterType="int" resultMap="goodsListMap">
		SELECT * FROM goodslist AS gl
		INNER JOIN goodsTypes AS gts ON
		gl.`goodsId`=gts.`goodsId`
		INNER JOIN goodsType AS gt ON
		gts.`goodsTypeId`=gt.`goodsTypeId`
		where
		gl.`goodsId`=#{int}
			and isShelves = 1
		ORDER BY `weight`
	</select>

	<select id="selectByWhere" parameterType="map" resultType="goodsList">
		select * from `goodsList`
		where 1=1
		<if test="hotGoods!=null">
			and `hotGoods`=#{hotGoods}
		</if>
		and isShelves = 1
		ORDER BY `weight`
	</select>



</mapper>