<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "mybatis-3-mapper.dtd">
<mapper namespace="goods">
	<resultMap type="goodsList" id="goodsListMap">
		<id property="goodsId" column="goodsId" />
		<result property="goodsPrice" column="goodsPrice" />
		<result property="dateManufacture" column="dateManufacture" />
		<result property="goodsName" column="goodsName" />
		<result property="imageUrl" column="imageUrl" />
		<result property="inventory" column="inventory" />
		<result property="salesVolume" column="salesVolume" />
		<result property="isShelves" column="isShelves" />
		<result property="weight" column="weight" />
		<result property="effectiveTime" column="effectiveTime" />
		<result property="hotGoods" column="hotGoods" />


		<collection property="goodTypes" ofType="goodsType">
			<id property="goodsTypeId" column="goodsTypeId" />
			<result property="goodsTypeName" column="goodsTypeName" />
		</collection>
	</resultMap>

	<select id="getAllGoods" resultMap="goodsListMap" parameterType="String">

		SELECT * FROM goodstypes AS gts
		INNER JOIN
		goodslist AS gl ON gl.`goodsId`=gts.`goodsId`
		INNER JOIN goodsType AS
		gt
		ON gt.`goodsTypeId`=gts.`goodsTypeId`
		where 1=1 and #{String}
	</select>
	<insert id="addGoodsList" parameterType="goodsList" keyProperty="goodsId"
		useGeneratedKeys="true">
		insert into
		`goodsList`(`goodsPrice`,`goodsName`,`imageUrl`,`inventory`,`salesVolume`,`isShelves`,`weight`,`effectiveTime`,`hotGoods`)
		values(#{goodsPrice},#{goodsName},#{imageUrl},#{inventory},#{salesVolume},#{isShelves},#{weight},#{effectiveTime},#{hotGoods})
	</insert>
	<insert id="addTypes" parameterType="goodsTypes">
		insert into
		`goodsTypes`(`goodsId`,`goodsTypeId`)
		values(#{goodsId},#{goodsTypeId})
	</insert>

	<select id="queryGoodstype" resultType="goodsType"
		parameterType="string">

		SELECT * FROM goodsType
		where 1=1 and
		goodsTypeName=#{string}
	</select>
	<select id="getWhereGoodsType" resultType="goodsType"
		parameterType="string">

		SELECT * FROM goodsType
		where 1=1 and #{String}
	</select>
	<select id="queryTypeData" resultMap="goodsListMap"
		parameterType="int">
		SELECT gl.*,gt.`goodsTypeName` FROM goodstypes AS gts
		INNER JOIN
		goodslist AS
		gl ON gl.`goodsId`=gts.`goodsId`
		INNER JOIN
		goodsType AS
		gt
		ON
		gt.`goodsTypeId`=gts.`goodsTypeId`
		where 1=1 and
		gts.`goodsTypeId`=#{int}
	</select>
	<update id="updateGoods" parameterType="goodsList">
		update `goodsList` set
		`goodsPrice`=#{goodsPrice},
		`goodsName`=#{goodsName},
		`imageUrl`=#{imageUrl},
		`inventory`=#{inventory},
		`salesVolume`=#{salesVolume},
		`isShelves`=#{isShelves},
		`weight`=#{weight},
		`effectiveTime`=#{effectiveTime},
		`hotGoods`=#{hotGoods}
		where
		goodsId=#{goodsId}

	</update>
	<update id="updateGoodsTypes" parameterType="goodsTypes">

		update `goodsTypes`
		set

		`goodsTypeId`=#{goodsTypeId}
		where
		`goodsId`=#{goodsId} and
		`goodsTypeId` <![CDATA[<>]]>
		1
	</update>
	<delete id="delGoods" parameterType="int">
		DELETE FROM goodsList where
		goodsId=#{int}
	</delete>
	<delete id="delGoodsTypes" parameterType="int">
		DELETE FROM goodsTypes
		where goodsId=#{int}
	</delete>
	<select id="queryByGoodsId" parameterType="int" resultMap="goodsListMap">
		SELECT * FROM goodslist AS gl
		INNER JOIN goodsTypes AS gts ON
		gl.`goodsId`=gts.`goodsId`
		INNER JOIN goodsType AS gt ON
		gts.`goodsTypeId`=gt.`goodsTypeId`
		where
		gl.`goodsId`=#{int}
	</select>
	<select id="selectByorderSerialNumber" resultType="goodsList"
		parameterType="String">
		SELECT goodsId FROM goodstypes AS gss
		WHERE gss.`goodsId` IN (
		SELECT
		of.`goodsId` FROM `orderform`AS of
		WHERE of.`orderSerialNumber`
		=#{String}
		) AND GSS.`goodsTypeId`<![CDATA[ <> ]]>'1'
	</select>
</mapper>