<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<typeAliases>
		<typeAlias type="com.business.entitys.sales.Salesman" alias="salesman" />
		<typeAlias type="com.business.entitys.sales.SalesmanAndUser"
			alias="salesmanAndUser" />

		<typeAlias type="com.business.entitys.goods.GoodsList"
			alias="goodsList" />
		<typeAlias type="com.business.entitys.goods.GoodsTypes"
			alias="goodsTypes" />
		<typeAlias type="com.business.entitys.goods.GoodsType"
			alias="goodsType" />
		<typeAlias type="com.business.entitys.user.User" alias="user" />
		<typeAlias type="com.business.entitys.order.OrderForm"
			alias="orderForm" />
		<typeAlias type="com.business.entitys.order.OrderActivationCode"
			alias="activationCode" />
		<typeAlias type="com.business.entitys.mp.MpUserEntity"
			alias="mpUser" />
		<typeAlias type="com.business.entitys.mp.MpService" alias="mpService" />
		<typeAlias type="com.business.entitys.goods.GoodsListUpgrade"
			alias="goodsListUpgrade" />
		<typeAlias type="com.business.entitys.service.ServiceTime"
			alias="serviceTime" />
		<typeAlias type="com.business.entitys.service.ServiceArticleType"
			alias="serviceArticleType" />
		<typeAlias type="com.business.entitys.service.ServiceArticle"
			alias="serviceArticle" />
		<typeAlias type="com.business.entitys.service.ServiceArticleDetails"
			alias="serviceArticleDetails" />
		<typeAlias type="com.business.entitys.service.ServiceArticleHelper"
			alias="serviceArticleHelper" />
		<typeAlias type="com.business.entitys.service.ServiceArticleDetailsHelper"
			alias="serviceArticleDetailsHelper" />
		<typeAlias type="com.business.entitys.sales.SalesmanSuccess"
			alias="salesmanSuccess" />
		<typeAlias type="com.business.entitys.autoReply.AutoReply"
			alias="autoReply" />
		<typeAlias type="com.business.entitys.autoReply.ListUserQuery"
			alias="listUserQuery" />
		<typeAlias type="com.business.entitys.autoReply.MessageManagement"
			alias="messageManagement" />
		<typeAlias type="com.business.entitys.autoReply.FixedAnswer"
			alias="fixedAnswer" />
		<typeAlias type="com.business.entitys.Schedule.ScheduleJob"
			alias="scheduleJob" />
	</typeAliases>
</configuration>