<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "mybatis-3-mapper.dtd">
<mapper namespace="user">

	<insert id="addUser" parameterType="user" keyProperty="userId"
		useGeneratedKeys="true">
		insert into
		`user`(
		`passWord`,`type`,`userName`,
		`Email`,`openId`,`phone`,
		`addRess`,`integral`,`Grade`,
		`userStatus`,`idCard`,`rdCode`)
		values(
		#{passWord},#{type},#{userName},
		#{Email},#{openId},#{phone},
		#{addRess},#{integral},#{Grade},
		#{userStatus},#{idCard},#{rdCode}
		)

	</insert>
	<select id="selectByIdCard" parameterType="com.business.entitys.user.UserBuyTemp"
		resultType="user">
		SELECT * FROM `user` AS u
		WHERE u.`userId` = (
		SELECT
		of.`userId` FROM `orderform`AS of
		WHERE of.`orderSerialNumber` =#{orderSerialNumber}
		)
		AND u.`idCard` LIKE  CONCAT('%',#{idCard})
	</select>
	<update id="updateByid" parameterType="user">
		update `user`
		set
		`passWord`=#{passWord},
		`type`=#{type},
		`userName`=#{userName},
		`Email`=#{Email},
		`openId`=#{openId},
		`phone`=#{phone},
		`addRess`=#{addRess},
		`integral`=#{integral},
		`Grade`=#{Grade},
		`userStatus`=#{userStatus},
		`idCard`=#{idCard},
		`rdCode`=#{rdCode}
		where
		`userId`={userId}

	</update>
</mapper>