body {
  background-color: #fff;
}
#header {
  width: 100%;
  height: 80px;
  background-color: #393a3f;
  color: #fff;
  text-align: center;
}
#header h2 {
  line-height: 80px;
  font-size: 40px;
}
.twoSides {
  font-size: 28.000000000000004px;
  padding: 30px 30px 0;
}
.twoSides > p {
  line-height: 60px;
}
.twoSides > p > span {
  color: #da251c;
}
#ceshi {
  width: 100%;
  background-color: #fff;
  padding: 30px;
}
#ceshi > h2 {
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  line-height: 70px;
  color: #da251c;
}
#ceshi > p {
  line-height: 60px;
  font-size: 30px;
}
#ceshi > p > span {
  color: #da251c;
}
.product {
  padding: 30px;
  background-color: #fff;
  color: #111;
}
.product span {
  color: #da251c;
}
.product > h2 {
  font-size: 32px;
  line-height: 64px;
}
.product .title {
  text-align: center;
  line-height: 70px;
  color: #da251c;
}
.product > .color {
  color: #da251c;
}
.product > p {
  color: #909090;
  font-size: 28.000000000000004px;
  margin-bottom: 10px;
  text-indent: 2em;
}
.product > .message > p {
  color: #909090;
  font-size: 28.000000000000004px;
  margin-bottom: 10px;
}
.xieyi {
  margin-bottom: 400px;
}
