
.form-add {
    display: none;
}
.layui-form-label {
    width: 120px;
}
.layui-form-item >.layui-form-label{
    padding: 12px 0;
    width: 100px;
}
.layui-input-block{
    word-break:break-all;
}
.layui-form-item {
    margin-right: 15px;
}
.form-item input{
    border-radius: 4px;
    width: 262px;
    height: 32px;
    border: 1px solid #909090;
}
