body {
  background-color: #fff;
}
#header {
  width: 100%;
  height: 0.80rem;
  background-color: #393a3f;
  color: #fff;
  text-align: center;
}
#header h2 {
  line-height: 0.80rem;
  font-size: 0.4rem;
}
#product {
  height: 2.8rem;
  padding: 0.3rem;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}
#product > img {
  height: 2rem;
  float: left;
}
#product > div {
  float: left;
  margin-left: 0.3rem;
}
#product > div p {
  font-size: 0.4rem;
  line-height: 1rem;
}
#product > div > .price {
  font-size: 0.38rem;
}
#message {
  background-color: #fff;
  padding: 0.2rem 0.3rem;
  font-size: 0.4rem;
  color: #909090;
}
#message > p {
  line-height: 0.8rem;
}
#process {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
}
#process #code {
  display: inline-block;
  width: 6.9rem;
  height: 1rem;
  font-size: 0.4rem;
  line-height: 1rem;
  text-align: center;
  background-color: #da251c;
  border-radius: 0.05rem;
  color: #fff;
  margin: 0.5rem 0.3rem;
}
/*#process > h2 {
  margin: 0;
  height: 0.9rem;
  line-height: 0.9rem;
  border-bottom: 1px solid #ebebeb;
  padding-left: 0.3rem;
  font-size: 0.32rem;
}
#process > .bottom {
  padding-left: 0.3rem;
  font-size: 0.28rem;
  position: relative;
}
#process > .bottom > p {
  width: 0.01rem;
  height: 2.8rem;
  border-left: 1px solid #ebebeb;
  position: absolute;
  top: 0.1rem;
  left: 0.4rem;
}
#process > .bottom > ul > li {
  position: relative;
}
#process > .bottom > ul > li > a {
  display: block;
  line-height: 0.37rem;
  margin: 0.2rem 0 0 0.6rem;
  color: #909090;
}
#process > .bottom > ul > li > a > span {
  color: #da251c;
}
#process > .bottom > ul > li > div {
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/moren.png") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 6px;
}
#process > .bottom > ul > li > .active {
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/dianji.png") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 6px;
}
#process > .bottom > ul > li > #code {
  display: inline-block;
    width: 3.6rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.36rem;
    background-color: #da251c;
    border-radius: 0.05rem;
    color: #fff;
    margin: 0.6rem 0 1.6rem;
}
 #process > .bottom > ul > li > #code1 {
  display: inline-block;
    width: 3.6rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.36rem;
    background-color: #c5c4c4;
    border-radius: 0.05rem;
    color: #fff;
    margin: 0.6rem 0 1.6rem;
} */

