
/* ������Ϣ */
#news{
  background-color: #fff;
  padding: 0.3rem;
  >h2{
    font-size: 0.32rem;
    color: #111;
    margin: 0;
  }
  >.jieshao{
    font-size: 0.26rem;
    color: #909090;
    margin: 0.2rem 0;
    >span{
      width: 0.8rem;
      height: 0.4rem;
      line-height: 0.4rem;
      display: inline-block;
      border: 1px solid #909090;
      border-radius: 20px;
      text-align: center;
    }
  }
  >#message{
    font-size: 0.28rem;
    color: #111;
    margin-bottom: 0.2rem;
  }
  >.amount{
    font-size: 0.24rem;
    color: #909090;
    position: relative;
    >#btn{
      >.img1{
        width: 0.3rem;
        height: 0.3rem;
        margin-top:-0.08rem;
        background: url(../images/dianzan.png) no-repeat;
        background-position: center center;
        background-size: cover;
      }
      >.img2{
         width: 0.4rem;
        height: 0.4rem;
        margin-top:-0.08rem;
        background: url(../images/dianzan1.png) no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
    >p{
      position: absolute;
      top: 0;
      right: 0.3rem;
      color: #248ece;
    }
  }
}

/*д����*/
#msgBox{

  >#form{
    margin: 0.3rem;
    padding: 0.2rem;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    display: none;
    >h2{
      font-size: 0.3rem;
    }
    #conBox{
      resize: none;
      height: 1.6rem;
      width: 100%;
      overflow: auto;
      margin: 0.2rem 0;
      border-color: #dfdfdf;
    }
    >.tr{
      float: right;
      font-size: 0.26rem;
      #sendBtn{
        width: 1rem;
        height: 0.6rem;
        line-height: 0.4rem;
        background-color: #da251c;
        color: #fff;
        outline: 0;
        border: 0;
        border-radius: 0.1rem;
        text-align: center;
      }
    }
  }
  >.list{
    >h3{
      margin-top: 0.3rem;
      font-size: 0.3rem;
      color: #909090;
      text-align: center;
    }
    >ul{
      padding: 0.3rem;
      >li{
        position: relative;
        >.userPic{
          position: absolute;
          top:0;
          left:0;
          width: 0.74rem;
          height: 0.74rem;
          img{
            width: 100%;
          }
        }
        >.content{
          margin-left: 1rem;
          font-size: 0.24rem;
          line-height: 0.4rem;
          margin-bottom: 0.3rem;
          >.userName{
            a{
              color: #909090;
            }
          }
          >.times{
            >span{
              color: #909090;
            }
          }
        }
      }
    }
  }
}

